.logo {
    font-family: $LogoFont;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.17;
    color: $BrandColor;
    text-decoration: none;
    letter-spacing: 0.03em;
    display: inline-block;
    &__page-header {
        color: $LogoPrimaryColor;
    }
    &__page-footer {
        color: $LogoSecondaryColor;
    }
}
