@media screen and (max-width: 480px) {
    .site-nav,
    .nav-contact {
        display: none;
    }
}
.menu {
    width: 100vw;
    height: 100vw;

    &.is-open {
        transform: translateX(0);
        opacity: 1;
    }
}
